@model List<Entities.Category>

@foreach (var category in Model)
{
    <li>
        <a class="dropdown-item text-capitalize" href="@Url.Action("ListByCategory", "Product", new { id = category.Id })">
            @category.Name
        </a>
    </li>
}
