@model List<Entities.Category>

@{
    ViewBag.Title = "Kategoriler";
}

<h2>Kategoriler</h2>
<hr />

<div class="row">
    @foreach (var category in Model)
    {
        <div class="col-md-4">
            <div class="card mb-4">
                <br />
                <img src="@category.ImageUrl" class="card-img-top"
                     alt="@category.Name"
                     style="height: 300px; object-fit: contain;" />
                <div class="card-body text-center">
                    <h5 class="card-title">@category.Name</h5>
                    <a href="@Url.Action("ListByCategory", "Product", new { id = category.Id })" class="btn btn-primary">
                        Ürünleri Gör
                    </a>
                </div>
            </div>
        </div>
    }
</div>
